  <div>
    <header>
      <nav id="menu">
        <a class="btn btn-head" href="/">Home</a>
        <a class="btn btn-head" href="/dashboard">Dashboard</a>
        <a class="btn btn-head"href="/create-user">Create Users</a>
      </nav>
    </header>
  </div>