  {{> navigation}}
<h1>Hello you!!</h1>
<h1 class="title">Welcome new user</h1>
<h2 class="title">Please enter your data</h2>
<form id="add_user" method="post" action="/user">
    <label for="user_name">user name</label>
    <input name="name" id="user_name" type="text"  required>
    <label for="user_lastname">user lastname</label>
    <input name="lastname" id="user_lastname" type="text" required>
    <label for="user_email">email</label>
    <input name="email" id="user_email" type="email" required>
    <label for="user_age">user age</label>
    <input name="age" id="user_age" type="number" min="1" required>
    <label for="user_role">user role</label>
    <input name="role" id="user_role" type="text" required>
    <button id="create_user" class="btn">add user</button>
</form>